doctype html
html(lang="en")
   head
      title Your Founder$hare was successfully received.
body
   #container
      | Hi #{firstName},
      br
      br
      | Your Founder$hare was successfully received. 
      br
      br
      | Recipient: #{recipient}
      br
      | Business: #{business}
      br
      | Amount: $#{amount}
      br
      | Timestamp: #{timestamp}
      br
      br
      | Cheers!
      br
      | The FounderShare Team
     
