doctype html
html(lang="en")
   head
      title Gift
body
   #container
      | !{extraMessage}
      | Hi,
      br
      br
      | It’s your lucky day! #{giverName} has just given you a Founder$hare for $#{amount} at #{businessName}.
      | Click here <a href="#{url}">Open Gift</a> to redeem and to start enjoying the benefits. 
      br
      br
      | Cheers!
      br
      | The FounderShare Team
     
