doctype html
html(lang="en")
    head
        title The Founder$hare you gifted was not opened.
body
    #container
        | Hi #{firstName},
        br
        br
        | We have some not so good news. The Founder$hare you gifted was not opened. 
        br
        br
        | Recipient: #{recipient}
        br
        | Business: #{business}
        br
        | Amount: $#{amount}
        br
        | Date Sent: #{dateSent}
        br
        br
        | The Founder$hare is back in your account. If you want to try to send it again, you can click here: <a href="#{resendUrl}">Resend Gift</a>. If not, you can still enjoy it yourself or gift it to someone else. 
        br
        br
        | Thanks for supporting a great local business! 
        br
        | The FounderShare Team
