doctype html
html(lang="en")
  head
    title Invitation from #{userEmail}
body
  #container
    p Hi,
    p This is pretty cool and I thought you might have some interest. If you buy a Founder$hare for #{offerTitle}, not only can you feel good about supporting one of our local businesses but you are nicely rewarded for your efforts. Check it out: <a href="https://foundershare.com/#/?offerId=#{offerId}">https://foundershare.com/#/?offerId=#{offerId}</a>
    p
      | Enjoy!
      br
      | #{userEmail}
      br
      | (and the FounderShare Team)
