| !{extraMessage}Hi,
| It’s your lucky day! #{giverName} has just given you a Founder$hare for #{amount} at #{businessName}.
| Click here #{url}  to redeem and to start enjoying the benefits. 
| Cheers!
| The FounderShare Team
     
